@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://db.onlinewebfonts.com/c/2b1a01fc738e9389822a76a2a230d74a?family=Integral+CF+Bold");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

html {
  font-family: Satoshi;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* global variables */

:root {
  --side-spacing: 100px;
  --background-secondary: #f2f0f1;
  --light-text-color: #00000099;
}

/******* header content ******/

/* header - promotion bar*/

.promotion-bar {
  display: flex;
  height: 38px;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.promotion-text {
  padding-inline: 50px;
  text-align: center;
  font-size: 14px;
}

.promotion-text a {
  color: white;
  font-family: Satoshi;
  font-weight: 500;
  line-height: 18.9px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.promotion-close-button {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 100px;
}

.promotion-close-button:hover {
  cursor: pointer;
}

.promotion-close-button img {
  width: 100%;
  height: 100%;
}

/* header - navbar */

header {
  text-align: center;
}

.navbar-header {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 24px var(--side-spacing);
  /* flex-wrap: wrap; */
  font-size: 16px;
  z-index: 2;
}

.logo {
  font-family: Alfa Slab One;
  font-size: 32px;
  font-weight: 400;
  line-height: 43.81px;
  text-align: left;
}

.logo a {
  text-decoration: none;
  color: black;
}

.navigation-container {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-grow: 1;
}

.navbar-header ul {
  display: flex;
  gap: 24px;
}

.navbar-header ul a {
  text-decoration: none;
  color: black;
}

.search-bar {
  display: flex;
  padding: 12px 16px 12px 16px;
  gap: 12px;
  border-radius: 62px;
  opacity: 0px;
  background-color: #f0f0f0;
  align-items: center;
  flex-grow: 1;
}

.search-bar input {
  background-color: #f0f0f0;
  border: none;
  width: 100%;
}

.search-bar input:focus {
  outline: none;
}

.personal-navbar {
  display: flex;
  gap: 14px;
  text-align: center;
  justify-content: center;
}

.burger-menu {
  display: none;
}

/******* main content ******/

main {
  position: relative;
}

/* main - banner */

.main-banner {
  background-color: var(--background-secondary);
}

.banner-image {
  height: 663px;
  width: 100%;
  min-width: 400px;
  background: url("../assets/main-cover-image.jpg");
  position: relative;
  min-height: 448px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.star1 {
  position: absolute;
  top: 275px;
}

.star2 {
  position: absolute;
  top: 75px;
  right: 0;
}

.banner-content {
  margin-inline: var(--side-spacing);
  display: flex;
  align-items: center;
  position: relative;
}

.banner-title {
  font-family: Alfa Slab One;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  text-align: left;
  flex-wrap: wrap;
}

.banner-text {
  word-wrap: break-word;
}

.banner-description {
  max-width: 545px;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin-top: 30px;
  color: var(--light-text-color);
}

.shop-now-button {
  text-decoration: none;
  color: white;
  background-color: black;
  top: 507px;
  left: 100px;
  padding: 16px 54px 16px 54px;
  gap: 12px;
  border-radius: 62px;
  opacity: 0px;
  font-size: 16px;
  display: inline-block;
  margin-top: 47px;
}

.achievements {
  display: flex;
  margin-top: 48px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.achievement-number {
  font-family: Satoshi;
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
}

.achievement-criteria {
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--light-text-color);
}

.line {
  width: 1px;
  height: auto;
  background-color: #0000001a;
  align-self: stretch;
}

/* main - brands */

.brands {
  background-color: black;
  display: flex;
  min-height: 122px;
  flex-wrap: wrap;
  padding-inline: var(--side-spacing);
  justify-content: space-between;
}

.brands div:nth-child(2),
.brands div:nth-child(3),
.brands div:nth-child(4) {
  align-self: center;
}

/* main - products */

.new-arrivals {
  text-align: center;
  padding-inline: var(--side-spacing);
}

.new-arrivals h2 {
  font-family: Alfa Slab One;
  font-size: 48px;
  font-weight: 400;
  line-height: 65.71px;
  text-align: center;
  padding-top: 68px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.product {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.product:hover {
  cursor: pointer;
}

.product-image {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 298px;
  object-fit: contain;
  transition: all 0.3s;
}

.product:hover .product-image img {
  transform: scale(1.1);
}

.product-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 16px;
}

.rating {
  margin-top: 8px;
  text-align: left;
  display: flex;
  align-items: center;
  height: 18px;
  font-size: 14px;
  gap: 13px;
}

.rating-stars {
  display: flex;
  gap: 4.5px
}

.product-price {
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 8px;
}

.rating span {
  color: var(--light-text-color);
}

.view-all-button {
  padding: 16px 54px 16px 54px;
  gap: 12px;
  border-radius: 62px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.9px;
  border: 1px #0000001a solid;
  margin-top: 24px;
  display: none;
  text-align: center;
}

.view-all-button:hover {
  cursor: pointer;
}

.top-selling {
  display: none;
}

/* dressing categories  */

.categories {
  background-color: #f0f0f0;
  padding: 70px 64px 76px 64px;
  margin: 68px var(--side-spacing) 0 var(--side-spacing);
  border-radius: 40px;
}

.categories h2 {
  font-family: "Integral CF Bold";
  font-size: 48px;
  line-height: 57.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.category-container {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category-row {
  display: flex;
  font-size: 36px;
  font-weight: 700;
  line-height: 48.6px;
  text-align: left;
  gap: 20px;
}

/* .row-2 {

}

.row-1 {
  
} */

.casual {
  background: url("../assets/casual-clothes-image.svg");
  flex: 1;
}

.formal {
  background: url("../assets/formal-clothes-image.svg");
  flex: 2;
}

.party {
  background: url("../assets/party-clothes-image.svg");
  flex: 2;
}

.gym {
  background: url("../assets/gym-clothes-image.svg");
  flex: 1;
}

.category {
  height: 289px;
  padding: 25px 0 0 36px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.category:hover {
  cursor: pointer;
}

/* main - review */

.reviews {
  padding-inline: var(--side-spacing);
  margin-top: 112px;
}

.reviews h2 {
  font-family: "Integral CF Bold";
  font-size: 48px;
  line-height: 57.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.reviews-container {
  /* margin-top: 107px; */
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 40px;
  scroll-behavior: smooth;
}

.reviews-container::-webkit-scrollbar {
  display: none;
}

.review {
  width: 400px;
  border: 1px solid #0000001a;
  border-radius: 20px;
  padding: 28px 32px 28px 32px;
  /* display: inline-block; */
  flex: 0 0 auto;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 4px;
}

.author-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
}

.review-details {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #00000099;
  margin-top: 12px;
}

.review-stars {
  display: flex;
  gap: 6.49px;
}

.swiper-arrows {
  display: flex;
  gap: 8px;
  justify-content: end;
  margin-top: 43px;
}

.slider-arrow {
  padding: 7px;
  border-radius: 15px;
  transition: all 0.3s;
}

.slider-arrow:hover {
  cursor: pointer;
  background-color: var(--background-secondary);
}

/************* footer ************/

footer {
  position: relative;
  margin-top: 60px;
  /* padding-inline: var(--side-spacing); */
}

.subscribe-newspaper {
  position: relative;
}

.subscribe-newspaper-container {
  margin-inline: var(--side-spacing);
  border-radius: 20px;
  display: flex;
  background-color: black;
  position: relative;
  z-index: 2;
  padding-inline: 64px;
  padding-bottom: 28px;
  justify-content: space-between;
}

.subscribe-newspaper h2 {
  color: white;
  font-family: "Integral CF Bold";
  font-size: 40px;
  line-height: 45px;
  text-align: left;
  max-width: 551px;
  padding-block: 43px;
}

.backgroud-color-container {
  background-color: #f0f0f0;
  height: 50%;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.submit-email {
  width: 34.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

.input-email {
  padding: 12px 16px 12px 16px;
  gap: 12px;
  border-radius: 62px;
  opacity: 0px;
  background: #ffffff;
  width: 100%;
  display: flex;
}

.input-email input {
  border: none;
  width: 100%;
  background-color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.input-email input:focus {
  outline: none;
}

.subscribe-button {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  padding: 12px 16px 12px 16px;
  gap: 12px;
  border-radius: 62px;
  opacity: 0px;
  text-align: center;
  transition: all 0.3s;
}

.subscribe-button:hover {
  cursor: pointer;
  background-color: black;
  border-color: white;
  color: white;
}

.submit-email a {
  text-decoration: none;
  color: black;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.6px;
  width: 100%;
}

.main-footer-content {
  padding: 50px var(--side-spacing) 50px var(--side-spacing);
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
}

.company-overall {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.logo-footer {
  font-family: "Integral CF Bold";
  font-size: 33.45px;
  font-weight: 700;
  line-height: 40.15px;
}

.logo-footer a {
  text-decoration: none;
  color: black;
}

.company-socials {
  display: flex;
  gap: 12px;
}

.summarize {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #00000099;
  width: 24.8rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: 1px solid #00000033;
  border-radius: 25px;
  transition: all 0.3s;
}

.social:hover {
  border-color: black;
  background-color: black;
  cursor: pointer;
}

.social:hover img {
  filter: invert(1);
}

.facebook:hover img {
  filter: invert(0);
}

.social img {
  width: 13px;
  height: 13px;
}

.facebook img {
  filter: invert(1);
}

.footer-nav-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 3px;
}

/* .footer-nav-item {
} */

.footer-nav-items {
  display: grid;
  margin-left: 113px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-grow: 1;
}

.footer-nav-item ul {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-nav-item li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
  color: #00000099;
}

.copyright-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  color: #00000099;
}

.payment-logo {
  background-color: white;
  width: 46.61px;
  height: 30.03px;
  gap: 0px;
  border-radius: 5.38px;
  border: 0.22px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-logo:hover {
  cursor: pointer;
}

.payment-logo img {
  height: 12px;
}

.mastercard img {
  height: 20px;
}
.paypal img {
  height: 10px;
}

.copyrights-payments {
  background-color: #f0f0f0;
}

.copyrights-payments-container {
  border-top: 1px solid #0000001a;
  margin-inline: var(--side-spacing);
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  text-align: right;
  padding-top: 25px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
}

.payments {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

@media (max-width: 1170px) {
  :root {
    --side-spacing: 16px;
  }

  .banner-title {
    font-size: 36px;
    line-height: 64px;
  }

  .achievement-number {
    font-size: 24px;
  }

  .achievement-criteria {
    font-size: 12px;
  }

  .products {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 1000px) {
  .footer-nav-items {
    gap: 10px;
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .promotion-close-button {
    display: none;
  }

  .promotion-text {
    padding-inline: 0;
    font-size: 12px;
    line-height: 16.2px;
  }

  .promotion-text a {
    color: white;
    line-height: 16.2px;
  }

  /* .navbar-header ul {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .personal-navbar {
    display: none;
  } */

  .navigation-container {
    flex-direction: column;
    display: none;
  }

  .search-bar {
    margin-block: 15px;
  }

  .navbar-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 24px var(--side-spacing);
    /* flex-wrap: wrap; */
    font-size: 16px;
    z-index: 2;
  }

  .navigation-container.active {
    display: block;
  }

  .navbar-header {
    flex-direction: column;
  }

  .navbar-header ul {
    flex-direction: column;
  }

  .logo-burger-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .burger-menu {
    display: block;
    margin-right: 30px;
    width: 24px;
  }

  .burger-menu:hover {
    cursor: pointer;
  }

  .burger-menu img {
    width: 100%;
  }

  .banner-content {
    flex-direction: column;
  }

  .navbar-header {
    justify-content: space-between;
  }

  /* products */

  .products {
    grid-template-columns: 1fr 1fr;
  }

  .top-selling {
    display: block;
  }

  .products .product {
    display: none;
  }

  .products .product:nth-child(1),
  .products .product:nth-child(2) {
    display: block;
  }

  .view-all-link {
    text-decoration: none;
    color: black;
  }

  .view-all-button {
    display: block;
  }

  .expand {
    display: block !important;
  }

  /* categories */
  .category-row {
    flex-direction: column;
  }

  .category {
    padding: 25px 210px 142px 36px;
  }

  .subscribe-newspaper-container {
    flex-direction: column;
  }

  .submit-email {
    width: 100%;
    display: flex;
  }

  .main-footer-content {
    flex-direction: column;
  }

  .summarize {
    width: 100%;
  }

  .footer-nav-items {
    margin-top: 25px;
    margin-left: 0;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
  }

  .copyrights-payments-container {
    flex-direction: column;
  }

  .l-2 {
    display: none;
  }

  .achievements {
    max-width: 100%;
    justify-content: center;
    column-gap: 10%;
  }

  .achievement-number {
    text-align: center;
    padding: 0;
    line-height: 30px;
  }

  .achievement-criteria {
    text-align: center;
  }

  .achievement:last-child {
    width: 100%;
    margin-top: 12px;
  }

  .new-arrivals {
    padding-bottom: 40px;
  }

  .top-selling {
    padding-top: 40px;
    border-top: 1px #0000001a solid;
    padding-inline: var(--side-spacing);
  }

  .products-section h2 {
    font-family: "Integral CF Bold";
    font-size: 36px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
  }

  .banner-title {
    font-family: "Integral CF Bold";
    font-size: 36px;
    line-height: 34px;
    margin-top: 40px;
  }

  .banner-image {
    height: 663px;
    width: 100%;
    min-width: 300px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .brands {
    align-items: center;
    justify-content: center;
    gap: 34px;
  }

  .shop-now-button {
    width: 100%;
    text-align: center;
    margin-top: 24px;
  }

  .banner-description {
    margin-top: 20px;
  }

  .achievements {
    margin-top: 20px;
  }

  .copyrights-payments-container {
    padding-top: 16px;
    gap: 16px;
  }

  .subscribe-newspaper-container {
    padding: 0 37px 28px 24px;
  }

  .banner-content {
    margin-inline: 0;
  }

  .banner-text {
    margin-inline: var(--side-spacing);
  }

  .categories {
    background-color: #f0f0f0;
    padding: 70px 24px 27px 24px;
    margin: 68px var(--side-spacing) 0 var(--side-spacing);
    border-radius: 40px;
  }

  .brands {
    padding-block: 39px;
  }

  .brands div {
    height: 25px;
  }
  .brands img {
    height: 100%;
  }

  .subscribe-newspaper h2 {
    font-size: 32px;
  }

  .logo-footer {
    font-size: 28.85px;
  }

  .company-overall {
    gap: 15px;
  }

  .main-footer-content {
    padding-top: 32px;
  }
}
